* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: gray;
}

#app {
  width: 100vw;
  max-width: 1000px;
  height: 100vh;
  padding: 23px;
  background-color: white;
}

.tap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tap .van-button {
  background-color: transparent;
  border: none;
  color: #0dceb4;
  font-size: 25px;
}

.tap span {
  font-size: 25px;
}

.show_project, .show_money {
  margin: 32px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.show_project > div, .show_money > .van-button {
  cursor: pointer;
  flex-basis: 33.33%;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 26px;
  height: 120px;
}

.show_project div:hover{
  background-color: rgba(59, 126, 165, 0.4);
}

.show_money span {
  font-size: 40px;
  color: rgb(23, 30, 32);
}

.history_record {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: row; */
}