* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: gray;
}

#app {
  width: 100%;
  /* min-width: 700px; */
  padding: 23px;
  background-color: white;
  border-radius: 12px;
}

#top_bar {
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
}

#top_bar .van-icon {
  position: absolute;
  left: 12px;
  top: 3px;
  color: rgb(60, 91, 194);
}
