<!--
 * @Author: love-yuri yuri2078170658@gmail.com
 * @Date: 2023-10-11 08:01:01
 * @LastEditTime: 2023-10-11 19:41:42
 * @Description: 课堂练习4 -2
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>092221208廖华勇-课堂练习4-2</title>
  <link rel="stylesheet" href="./css/index.css" />
  <link rel="stylesheet" href="./css/my.css" />
  <script src="./js/vue@3"></script>
  <script src="./js/vant.min.js"></script>
</head>

<body>
  <div id="app">
    <!-- 缴费通道 -->
    <div v-if="show_history === false">
      <!-- 顶部 -->
      <div class="tap">
        <van-button icon="arrow-left" style="padding-left: 0;" type="primary">
          返回
        </van-button>
        <span>生活缴费</span>
        <span style="color: #0dceb4; cursor: pointer;" @click="show_history = true">缴费记录</span>
      </div>

      <!-- 缴费项目 -->
      <div class="show_project">
        <div v-for="(item, index) in pay_project" :key="index" @click="currentIndex = index">
          <van-icon :name="item.icon" size="36px"></van-icon>
          <span>{{ item.name }}</span>
        </div>
      </div>

      <!-- 分割线 -->
      <van-divider style="font-size: 26px;">
        缴费金额({{ pay_project[currentIndex].name }})
      </van-divider>

      <!-- 缴费金额 -->
      <div class="show_money">
        <template v-for="(item, index) in money_choose" :key="index">
          <van-button :type="button_type(index)" @click="moneyIndex = index">
            {{ item }} {{ pay_project[currentIndex].type }}
          </van-button>
        </template>
      </div>

      <!-- 缴费按钮 -->
      <van-button type="primary" round block @click="show = true"> 缴费 </van-button>

      <!-- 确认是否充值 -->
      <van-dialog v-model:show="show" title="缴费确认" @cancel="cancel" @confirm="confirm" show-cancel-button>
        <van-cell title="缴费项目" :value="pay_project[currentIndex].name"></van-cell>
        <van-cell title="缴费金额" :value="money_choose[moneyIndex]"></van-cell>
      </van-dialog>
    </div>

    <!-- 历史记录 -->
    <div v-else>
      <!-- 顶部 -->
      <div class="tap">
        <van-button icon="arrow-left" style="padding-left: 0;" type="primary" @click="show_history = false">
          返回
        </van-button>
        <span>缴费记录</span>
        <span style="color: #0dceb4; cursor: pointer;" @click="show_history = false">
          生活缴费
        </span>
      </div>

      <!-- 记录表单 -->
      <div class="history_record">
        <span>编号</span>
        <van-field v-model="serial_num" style="width: 100px;" placeholder="输入编号"></van-field>
        <van-button size="small" type="primary" @click="clear_record">删除记录</van-button>
        <van-button size="small" type="primary" @click="clear_all">清除所有记录</van-button>
      </div>

      <!-- 显示数据 -->
      <van-row v-for="(item, index) in record" :key="index" justify="center">
        <van-col span="6" v-for="(data, i) in item" :key="i" style="margin: 5px 0; ">
          {{ data }}
        </van-col>
      </van-row>
    </div>

  </div>

  <script>
    const { createApp, ref } = Vue;
    const { showToast, showNotify } = vant;

    /* 保存数据 */
    const record = ref([
      ['序号', '类型', '金额', '缴费时间']
    ]);

    const currentIndex = ref(0); // 当前缴费项目编号
    const moneyIndex = ref(0); // 当前缴费金额编号
    const show = ref(false); // 是否显示结果
    const show_history = ref(false); // 是否显示历史记录
    const serial_num = ref(''); // 输入编号

    /* 支付项目 */
    const pay_project = [
      { name: '电费', icon: 'user-o', type: '元' },
      { name: '水费', icon: 'flower-o', type: '元' },
      { name: '气费', icon: 'fire-o', type: '方' },
      { name: '话费', icon: 'notes-o', type: '元' },
      { name: '网费', icon: 'expand-o', type: '元' },
      { name: '流量', icon: 'goods-collect-o', type: 'GB' }
    ]

    /* 价格选择 */
    const money_choose = [
      50, 100, 200, 300, 500
    ]

    /* 按钮样式 */
    const button_type = (index) => {
      if (index == moneyIndex.value) {
        return 'success';
      }
      return 'default';
    }

    /* 清除所有数据 */
    const clear_all = () => {
      localStorage.removeItem('history_record');
      record.value = [['序号', '类型', '金额', '缴费时间']];
    }

    /* 清除指定行数据 */
    const clear_record = () => {
      let index = parseInt(serial_num.value);
      if (isNaN(index) || index < 1 || index >= record.value.length) {
        showNotify({
          type: 'danger',
          message: '序号错误'
        });
        return;
      }
      record.value.splice(index, 1);
      /* 减少序号 */
      for (let i = index; i < record.value.length; i++) {
        const element = record.value[i];
        element[0] -= 1;
      }
      /* 重新写入数据 */
      localStorage.setItem("history_record", JSON.stringify(record.value));
    }

    /* 确认缴费 */
    const confirm = () => {
      show.value = false;
      setTimeout(() => {
        showToast({
          message: '缴费成功',
          position: 'bottom',
        });
        let num = record.value.length;
        let type = pay_project[currentIndex.value].name;
        let money = money_choose[moneyIndex.value] + pay_project[currentIndex.value].type;
        let date = new Date();
        let time = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;
        record.value.push([num, type, money, time]);
        localStorage.setItem("history_record", JSON.stringify(record.value));
      }, 400);
    }

    /* 取消缴费 */
    const cancel = () => {
      show.value = false;
      setTimeout(() => {
        showToast({
          message: '缴费失败',
          position: 'bottom',
        })
      }, 200);
    }

    const App = {
      data() {
        return {
          pay_project, currentIndex, money_choose,
          moneyIndex, button_type, show, confirm, cancel,
          show_history, record, serial_num, clear_all, clear_record
        };
      },
      mounted() {
        let history = JSON.parse(localStorage.getItem("history_record"));
        if (history == null || history.length == 0) {
          localStorage.setItem("history_record", JSON.stringify(record.value));
          history = JSON.parse(localStorage.getItem("history_record"));
        }
        record.value = history;
      },
    };
    const app = Vue.createApp(App);
    app.use(vant);
    app.mount("#app");
  </script>
</body>

</html>